{% load static %}

<h4>HTTP Requests</h4>
<dl>
    {% for request in requests %}
        <dt>
            {{ request.request.method|upper }}
            {{ request.request.url }}
            {{ request.response.headers.status|default:request.response.status_code }}
        </dt>
        <dd>Elapsed: {{ request.response.elapsed.total_seconds }} seconds</dd>
        <dd>
            <div class="djTemplateShowContextDiv">
                <a class="requests_show_content">
                    <span class="toggleArrow">▶</span> Request Headers ({{ request.request.headers|length|filesizeformat }})
                </a>
                <a class="selectText" style="display: none;"> -&gt; (Select All Json for ctrl + c)</a>
            </div>
            <div class="djTemplateHideContextDiv" style="display: none;">
                <code class="json_code" contenteditable="true" >{{ request.request_headers }}</code>
            </div>
        </dd>
        <dd>
            <div class="djTemplateShowContextDiv">
                <a class="requests_show_content">
                    <span class="toggleArrow">▶</span> Request Body ({{ request.request.body|length|filesizeformat }})
                </a>
                <a class="selectText" style="display: none;"> -&gt; (Select All Json for ctrl + c)</a>
            </div>
            <div class="djTemplateHideContextDiv" style="display: none;">
                <code class="json_code" contenteditable="true" >{{ request.request_body|default:"&nbsp;" }}</code>
            </div>
        </dd>
        <dd>
            <div class="djTemplateShowContextDiv">
                <a class="requests_show_content">
                    <span class="toggleArrow">▶</span> Response Headers ({{ request.response.headers|length|filesizeformat }})
                </a>
                <a class="selectText" style="display: none;"> -&gt; (Select All Json for ctrl + c)</a>
            </div>
            <div class="djTemplateHideContextDiv" style="display: none;">
                <code class="json_code" contenteditable="true" >{{ request.response_headers }}</code>
            </div>
        </dd>
        <dd>
            <div class="djTemplateShowContextDiv">
                <a class="requests_show_content">
                    <span class="toggleArrow">▶</span> Response Body ({{ request.response.content|length|filesizeformat }})
                </a>
                <a class="selectText" style="display: none;"> -&gt; (Select All Json for ctrl + c)</a>
            </div>
            <div class="djTemplateHideContextDiv" style="display: none;">
                <code class="json_code" contenteditable="true" >{{ request.response_content|default:"&nbsp;" }}</code>
            </div>
        </dd>
        {% if request.stacktrace %}
            <dd>
                <div class="djTemplateShowContextDiv">
                    <a class="requests_show_content">
                        <span class="toggleArrow">▶</span> Stacktrace
                    </a>
                    <a class="selectText" style="display: none;"> -&gt; (Select All Json for ctrl + c)</a>
                </div>
                <div class="djTemplateHideContextDiv" style="display: none;">
                    <pre class="djdt-stack">{{ request.stacktrace }}</pre>
                </div>
            </dd>
        {% endif %}
    {% endfor %}
</dl>

<script src="{% static 'requests_panel/js/panel.js' %}"></script>
